# Godot 4+ specific ignores
.o*
.godot/
.import/
*.import
*.zip
export.cfg
export_presets.cfg
export_credentials.cfg
android/
Build/
build/

# Godot 4.2+ specific ignores
~*.dll

# General ignores
.nomedia
*.tmp
*.log
*.translation

# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json
